#sidebar
{

    width: 18vw !important;
    height: 94vh !important ;

}

.display
{
    width: 81vw !important;
    background-color: rgb(209, 209, 209);
}

.input-project
{
    outline: none !important;

}

.nav-item
{
    cursor: pointer;
    transition: 600ms;
}

.nav-item:hover,
.nav-item:focus
{

    background-color:rgb(39, 87, 231);

}

.task
{
    cursor: pointer;
    transition: 600ms;
    background-color:rgb(235, 235, 235);
}

.task:hover,
.task:focus
{

    background-color: rgba(112, 128, 144, 0.13) !important;

}

.project
{
    cursor: pointer;
    transition: 600ms;
    list-style-type: none;
    background-color:rgba(211, 211, 211, 0.144) !important;
    
}

.project:hover,
.project:focus
{

    background-color:rgba(211, 211, 211, 0.411) !important;

}

.description
{
    background-color: rgba(211, 211, 211, 0.897) !important;
}

.task-form
{
    position: absolute;
    top: 18%;
    left: 34%;
    background-color: rgba(233, 229, 229, 0.918);
    width: 50%;
    height: 70%;
    display: none;

}
.update-task-form
{
    position: absolute;
    top: 18%;
    left: 34%;
    background-color: rgba(233, 229, 229, 0.918);
    width: 50%;
    height: 70%;
    display: none;
    z-index: 99;

}

.close-task-form
{
    position:absolute;
    top: 0%;
    right: 0%;
}
.close-update-task-form
{
    position:absolute;
    top: 0%;
    right: 0%;
}

.input-style
{
    outline: none !important;
}

.high
{
    background-color: rgba(255, 0, 0, 0.507) !important;
}

.low
{
    background-color: rgba(0, 128, 0, 0.479) !important;
}

.medium
{
    background-color: rgba(255, 255, 0, 0.479) !important;
}